* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/LICENSE -text
/Makefile.in -text
/NEWS -text
/README.StupidServ -text
/b1ff.c -text
/brooklyn.c -text
/chef.c -text
/cockney.c -text
/common.c -text
/common.h -text
/configure -text
/configure.in -text
/drawl.c -text
flex/b1ff.l -text
flex/brooklyn.l -text
flex/chef.l -text
flex/cockney.l -text
flex/drawl.l -text
flex/fudd.l -text
flex/funetak.l -text
flex/jethro.l -text
flex/jive.l -text
flex/kraut.l -text
flex/pansy.l -text
flex/postmodern.l -text
flex/redneck.l -text
flex/valspeak.l -text
flex/warez.l -text
/fudd.c -text
/funetak.c -text
/install-sh -text
/jethro.c -text
/jive.c -text
/kraut.c -text
/modconfig.h.in -text
/pansy.c -text
/postmodern.c -text
/pulse.xml -text
/redneck.c -text
/s_help.c -text
/ss.c -text
/ss.h -text
/stamp-h1 -text
/talkfilters.c -text
/talkfilters.h -text
/valspeak.c -text
/warez.c -text
