* text=auto !eol
.deps/b1ff.Po -text
.deps/brooklyn.Po -text
.deps/chef.Po -text
.deps/cockney.Po -text
.deps/common.Po -text
.deps/drawl.Po -text
.deps/fudd.Po -text
.deps/funetak.Po -text
.deps/getopt.Po -text
.deps/getopt1.Po -text
.deps/jethro.Po -text
.deps/jive.Po -text
.deps/kraut.Po -text
.deps/libtalkfilters_la-b1ff.Plo -text
.deps/libtalkfilters_la-brooklyn.Plo -text
.deps/libtalkfilters_la-chef.Plo -text
.deps/libtalkfilters_la-cockney.Plo -text
.deps/libtalkfilters_la-common.Plo -text
.deps/libtalkfilters_la-drawl.Plo -text
.deps/libtalkfilters_la-fudd.Plo -text
.deps/libtalkfilters_la-funetak.Plo -text
.deps/libtalkfilters_la-getopt.Plo -text
.deps/libtalkfilters_la-getopt1.Plo -text
.deps/libtalkfilters_la-jethro.Plo -text
.deps/libtalkfilters_la-jive.Plo -text
.deps/libtalkfilters_la-kraut.Plo -text
.deps/libtalkfilters_la-pansy.Plo -text
.deps/libtalkfilters_la-postmodern.Plo -text
.deps/libtalkfilters_la-redneck.Plo -text
.deps/libtalkfilters_la-talkfilters.Plo -text
.deps/libtalkfilters_la-valspeak.Plo -text
.deps/libtalkfilters_la-warez.Plo -text
.deps/pansy.Po -text
.deps/postmodern.Po -text
.deps/redneck.Po -text
.deps/valspeak.Po -text
.deps/warez.Po -text
.deps/wrap.Po -text
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/LICENSE -text
/Makefile.in -text
/NEWS -text
/README.StupidServ -text
/b1ff.c -text
/b1ff.l -text
/brooklyn.c -text
/brooklyn.l -text
/chef.c -text
/chef.l -text
/cockney.c -text
/cockney.l -text
/common.c -text
/common.h -text
/config.status -text
/configure -text
/configure.in -text
/drawl.c -text
/drawl.l -text
/fudd.c -text
/fudd.l -text
/funetak.c -text
/funetak.l -text
/install-sh -text
/jethro.c -text
/jethro.l -text
/jive.c -text
/jive.l -text
/kraut.c -text
/kraut.l -text
/modconfig.h.in -text
/pansy.c -text
/pansy.l -text
/postmodern.c -text
/postmodern.l -text
/redneck.c -text
/redneck.l -text
/s_help.c -text
/ss.c -text
/stamp-h1 -text
/talkfilters.c -text
/talkfilters.h -text
/valspeak.c -text
/valspeak.l -text
/warez.c -text
/warez.l -text
